# general ignores
*~undo-tree~
*~
.ipynb_checkpoints/
__pycache__/
*.pth

# tensorflow play ignores
tensorflow_play/tf_guide/aclImdb/
tensorflow_play/tf_guide/dnn_model/
tensorflow_play/tf_guide/my_dir/
tensorflow_play/tf_guide/traffic/
tensorflow_play/images_tf/models/
tensorflow_play/audio_tf/data/ 
tensorflow_play/text_tf/annotations/
tensorflow_play/text_tf/train2014/
checkpoints/
tensorflow_play/audio_tf/test_data/
tensorflow_play/audio_tf/datasets/
tensorflow_play/audio_tf/dogs_and_cats_yamnet/
tensorflow_play/GAN/*.png
tensorflow_play/GAN/training_checkpoints/
tensorflow_play/GAN/logs/
tensorflow_play/GAN/discriminator_pix2pix/
tensorflow_play/GAN/generator_pix2pix/

# pytorch play ignore 
pytorch_play/basics/data
pytorch_play/images/PennFudanPed
pytorch_play/images/hymenoptera_data
pytorch_play/data/
pytorch_play/images/celeba/
pytorch_play/images/DCGAN_save/
pytorch_play/images/MNIST
pytorch_play/images/fbdeit_optimized_scripted_quantized.pt
pytorch_play/images/fbdeit_optimized_scripted_quantized_lite.ptl
pytorch_play/images/fbdeit_scripted.pt
pytorch_play/images/fbdeit_scripted_quantized.pt
pytorch_play/text/data
pytorch_play/text/data_2
pytorch_play/audio/_assets/
