# general ignores
*~undo-tree~
*~
.ipynb_checkpoints/

# tensorflow play ignores
tensorflow_play/tf_guide/aclImdb/
tensorflow_play/tf_guide/dnn_model/
tensorflow_play/tf_guide/my_dir/
tensorflow_play/tf_guide/traffic/
tensorflow_play/images_tf/models/
tensorflow_play/audio_tf/data/ 
tensorflow_play/text_tf/annotations/
tensorflow_play/text_tf/train2014/
checkpoints/
tensorflow_play/audio_tf/test_data/
tensorflow_play/audio_tf/datasets/
tensorflow_play/audio_tf/dogs_and_cats_yamnet/
tensorflow_play/audio_tf/model.png

